<div class="container" data-bind="with: Console">
    <h2>Console</h2>
    <div class="row">
        <div class="col-lg-12">
            <div class="input-group">
                <input type="text" class="form-control input-lg" placeholder="Console Command" data-bind="textInput: CommandText">
                <span class="input-group-btn">
                    <button class="btn btn-primary btn-lg" type="button" data-bind="click: RunCommand">Run</button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
    <!-- ko if: IsLoading --><p>Loading...</p><!--/ko -->
    <pre class="pre-scrollable" data-bind="text: CommandOutput" />
</div>
