<div class="container">
    <h2>Send!</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque fermentum et neque pretium posuere. Duis in dictum risus. Etiam quis turpis mi. Curabitur eget malesuada sem. Duis at finibus turpis, ut dignissim lacus. Donec faucibus libero est. Fusce condimentum justo vel purus tincidunt ullamcorper. Donec in velit id sapien imperdiet lacinia non non lectus. Nullam at venenatis metus. Duis ex turpis, tincidunt at orci vitae, gravida auctor eros. Duis tempor finibus purus eget vulputate. Donec eleifend pharetra sapien vel pharetra. Aliquam eu nisi sit amet ligula lobortis imperdiet. Quisque sodales tellus neque, eget rutrum magna eleifend eget. Duis quis dui lacinia, auctor massa a, aliquam purus.</p> 
</div>
