<div>
    <div class="container">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="control-label col-sm-1" for="wallet-passphrase">Wallet passphrase::</label>
                <div class="col-sm-5">
                    <input data-bind="value: walletPassphrase" type="text" class="form-control" id="wallet-passphrase" placeholder="Enter a wallet passphrase">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" for="label">Staking only:</label>
                <div class="col-sm-5">
                    <input data-bind="checked: stakingOnly, disable: stakingOnlyDisabled" type="checkbox" class="form-control" id="label">
                </div>
            </div>
        </form>
    </div>
</div>
